.btn {
    background-color: #B68C5A;
    color: aliceblue;
}

/*.................. Banner-1............ */
.banner {
    background-image: url(./images/banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    
}
/* .banner-section{
    vertical-align: middle;
} */